GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=

DATABASE_URL=postgresql://postgres:password@localhost/feedback
SECRET=

DOCS_URL=http://localhost:3001/docs

# Requird for production
# https://next-auth.js.org/getting-started/example#deploying-to-production
NEXTAUTH_URL=
